<?xml version="1.0" encoding="UTF-8" ?>
<service id="readitlater">
  <type>sharing</type>
  <name>qtn_ril_title</name>
  <description>qtn_ril_desc</description>
  <short-description>qtn_ril_desc_short</short-description>
  <icon>icon-m-service-readitlater</icon>
  <provider>readitlater</provider>
  <translations>readitlater</translations>

  <template>
    <setting name="enabled" type="b">true</setting>
  </template>

  <!-- Extension for upload -->
  <webService version="0.1" uploadPlugin="readitlater" trcatalogs="readitlater">
    <presentation>
      <name id="qtn_ril_title">Read It Later</name>
      <title/>
      <description hide="1" />
      <tags hide="1" />
      <face_tags hide="1" />
      <metadata hide="1" />
    </presentation>
    <media>
      <formats>
        <mime>text/x-url</mime>
        <mime>text/x-uri</mime>
      </formats>
    </media>
  </webService>
</service>
